// fonts
$font-main: 'Open Sans', sans-serif;
$font-preview: 'Merriweather', serif;
$font-landing: 'Montserrat', sans-serif;

// colors
$color-bg: #f3f4f5;

$pantone1-1:#114e4e;
$pantone1-2:#438792;
$pantone1-3:#a2deaf;
$pantone2-1:#420101;
$pantone2-2:#bd1010;
$pantone2-3:#e95626;
$pantone3-1:#3e5b65;
$pantone3-2:#eab052;
$pantone3-3:#a0c0cf;

