:root {
  font-size: 62.5%;
}

// fonts
$font-main: "Open Sans", sans-serif;
$font-preview: "Open Sans", sans-serif;
$font-landing: "Open Sans", sans-serif;

// colors
$color-bg: #f3f4f5;
$preview-bg: #FFD41B;
$primary-color: #3A5EF6;
$secondary-color: #e77529;
$terciary-color: #114e4e;
$font-color: black;
$color-border: #d8d8d8;
$color-white: #ffffff;
$color-twitter: #00a0f5;


$pantone1-1: #114e4e;
$pantone1-2: #438792;
$pantone1-3: #a2deaf;
$pantone2-1: #420101;
$pantone2-2: #bd1010;
$pantone2-3: #e95626;
$pantone3-1: #3e5b65;
$pantone3-2: #eab052;
$pantone3-3: #a0c0cf;

