header {
    width: 100%;
    height: 111px; 
    display: flex;
    justify-content: center;
    background-color: $preview-bg;
  }
  .header__container {
    display: flex; 
    padding-top: 1.5rem;
    padding-bottom: 2.8rem;
  }
  .header__img {
    display: flex;
    width: 20rem; 
  }
  @media all and (min-width: 768px){
    .header {
      display: flex;
      justify-content: left;
      width: 100%;
      margin-inline: auto;
    }
    .header__img {
      margin-left: 40px;
    }
  }