.share {
  font-family: $font-main;
  padding: 10px 0px 0px 0px;
  margin: 0px 20px 30px 20px;
  border-bottom: solid $preview-bg 2px;
  // TABLET AND DESKTOP //
  @media (min-width:768px){
    padding: 10px 0px 0px 0px;
    margin: 0px 30px 30px 30px;
  }
  // LEGEND //
  .header-share {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    cursor: pointer;
    &__title {
    display: flex;
    }
    &__icon {
      color: $primary-color;
      font-size: 1.8rem;
      margin-right: 1rem;
    }
    &__text1 {
      font-size: 1.8rem;
      color: $font-color;
      font-weight: 600;
    }
    &__down {
      font-size: 1.8rem;
      color: $primary-color;
    }
  }
  // HIDDEN 1 //
  .card-share {
    display: flex;
    justify-content: space-around;
    &__button {
      display: flex;
      background-color: $primary-color;
      color: $color-bg;
      font-family: $font-main;
      font-size: 1.8rem;
      font-weight: 600;
      padding: 13px 18px 13px 18px;
      border-radius: 12px;
      border: none;
      margin-top: 30px;
      margin-bottom: 23px;
      cursor: pointer;
    }
    &__create {
      font-size: 2.2rem;
      background-color: $primary-color;
      border: solid white 1;
    }
    &__title {
      margin-left: 9px;
    }
  }
  // HIDDEN 2 //
  .twitter-share {
    font-family: $font-main;
    border-top: solid $color-border 1px;
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text1 {
      font-size: 1.8rem;
      color: $font-color;
      font-weight: 600;
      margin-bottom: 5px;
    }
    &__link {
      margin: 5px 0px 13px 0px;
      text-decoration: none;
      color: $primary-color;
      font-size: 1.1rem;
      font-weight: 600;
      @media (min-width:768px){
        font-size: 1.2rem;
      }
    }
    &__botton {
      margin: 10px 0px 0px 0px;
      padding: 3px 9px 6px 10.5px;
      display: flex;
      align-items: center;
      background-color: $color-twitter;
      border-radius: 3px;
      border: none;
      text-decoration: none;
    }
    &__logo {
      margin: 3px 9.5px 0px 0px;
      color: $color-white;
      font-size: 1.8rem;
    }
    &__textlogo {
      font-size: 1.4rem;
      color: $color-white;
    }
  }
  // CLASES PARA JS //
  .share__rotate {
    transform: rotate(180deg); ///arrow js
  }
  .share__hidden {
    display: none;
  }
}

.share__error {
  display: flex !important;
  justify-content: center;
  font-size: 15px;
  color: red;
  margin: 20px 0;
}