.share {
    font-family: $font-main;
    padding: 10px 0px 7px 0px ;
    border-bottom: solid $color-border 1px;
    margin: 0px 20px 30px 20px;
    
   
   
    &__header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
       
    }
    &__title {
        display: flex;
    }
    &__icon {
        color: $primary-color;
        font-size: 1.8rem;
        margin-right: 1rem;
    }
    &__h1 {
        font-size: 1.8rem;
        color: $font-color;
        font-weight: 600;
    }
    &__down {
        font-size: 1.8rem;
        color: $font-color;
    }
    &__card{
        display: flex;
        justify-content: space-around;
       
        padding: 30px 0px 23px 0px;

    }
    &__button {
        display:flex;
        background-color:$primary-color;
        color: $color-bg;
        font-family: $font-main;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 13px 18px 13px 18px;
        border-radius: 12px;
        border: none;
       
        cursor: pointer;
    }
    &__create{
        font-size: 22px;
        background-color: $primary-color;
        border: solid white 1;
        
    }
    &__h3 {
        margin-left: 9px;
    }




    &__twitter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px 30px 0px;
        padding: 20px 0px 0px 0px;
        border-top: solid $color-border 1px;
    }
    &__p {
        font-family: $font-main;
        color: $font-color;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        width: 100%;
        text-align: center;
    }
    &__a {
        text-decoration: none;
        color: $primary-color;
        font-family: $font-main;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 5px 0px 10px 0px;
    }
    &__button-twitter {
        font-family: $font-main;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color-bg;
        border: none;
        background-color: $color-twitter;
        border-radius: 3px;
        display: flex;
        padding: 3px 9px 7px 10.5px;
        align-items: center;

    }
    &__logo-twitter {
        color: $color-bg;
        margin-right: 9.5px;
        font-size: 1.8rem;
    }
    &__h2 {

    }

    .share__rotate {
        transform: rotate(180deg);  ///arrow js
    }
    .share__hidden {
        display: none;
    }

}