.share {
    font-family: $font-main;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;

    &__header {
        cursor: pointer;
        display: flex;
    }
    &__icon {
        color: $primary-color;
        font-size: 1.8rem;
        margin-right: 1rem;
    }
    &__h1 {
        font-size: 1.8rem;
        color: $font-color;
        font-weight: 600;
    }
    &__down {
        font-size: 1.8rem;
        color: $font-color;
    }
}