<section class="design_container">
  <form>
    <fieldset class="desing">
      <div class="header-desing js_dheader">
        <legend class="header-desing__title">
            <i class="fa-regular fa-object-ungroup header-desing__icon"></i>
            <h1 class="header-desing__text1">DISEÑA</h1>
        </legend>
        <i class="fa-solid fa-chevron-down header-desing__down js_darrow desing__rotate"></i>
      </div>
      <div class="pantone-desing js_pantone ">
        <h2 class="pantone-desing__text2">COLORES</h2>
        <div class="pantone-desing__options">
          <label class="colors" for="colors-1">
              <input class="colors__radio" type="radio" id="colors-1" name="colors">
              <div class="colors__box blue1"></div>
              <div class="colors__box blue2"></div>
              <div class="colors__box blue3"></div>
          </label>
          <label class="colors colors__colors2" for="colors-2">
              <input class="colors__radio" type="radio" id="colors-2" name="colors">
              <div class="colors__box red1"></div>
              <div class="colors__box red2"></div>
              <div class="colors__box red3"></div>
          </label>
          <label class="colors" for="colors-3">
            <input class="colors__radio" type="radio" id="colors-3" name="colors">
            <div class="colors__box mix1"></div>
            <div class="colors__box mix2"></div>
            <div class="colors__box mix3"></div>
          </label>
        </div>
      </div>
    </fieldset>
  </form>
</section>