
<form action="">
    <fieldset>
            <h1>DISEÑA</h1>
            <div class="design-pantone">
                
                <h2>COLORES</h2>
                <div class="main-pantone">
                    <div class="pantone__select">
                        <input class="pantone__radio" type="radio" id="pantone-1" name="colors">
                        <label class="pantone__colors" for="pantone-1">
                        
                            <div class="pantone__box blue1"></div>
                            <div class="pantone__box blue2"></div>
                            <div class="pantone__box blue3"></div>
                            
                        </label>
                    </div>
                    
                    <div class="pantone__select">
                        <input class="pantone__radio" type="radio" id="pantone-2" name="colors">
                        <label class="pantone__colors" for="pantone-2">

                            <div class="pantone__box red1"></div>
                            <div class="pantone__box red2"></div>
                            <div class="pantone__box red3"></div>

                        </label>
                    </div>

                    <div class="pantone__select">
                        <input class="pantone__radio" type="radio" id="pantone-3" name="colors">
                        <label class="pantone__colors" for="pantone-3">

                            <div class="pantone__box mix1"></div>
                            <div class="pantone__box mix2"></div>
                            <div class="pantone__box mix3"></div>

                        </label>
                    </div>
                    
                </div>
                    
            

    </fieldset>
</form>