<section class="desing">

    <div class="desing__header js_header">
        <div class="desing__title">
            <i class="fa-regular fa-object-ungroup desing__icon"></i>
            <h1 class="desing__h1">DISEÑA</h1>
        </div>

        <i class="fa-solid fa-chevron-down desing__down js_down"></i>
    </div>


    <div class="desing__pantone js_pantone">

        <h2>COLORES</h2>

        <div class="desing__options">

            <label class="desing__colors" for="pantone-1">
                <input class="desing__radio" type="radio" id="pantone-1" name="colors">
                <div class="desing__box blue1"></div>
                <div class="desing__box blue2"></div>
                <div class="desing__box blue3"></div>
            </label>

            <label class="desing__colors" for="pantone-1">
                <input class="desing__radio" type="radio" id="pantone-2" name="colors">
                <div class="desing__box red1"></div>
                <div class="desing__box red2"></div>
                <div class="desing__box red3"></div>
            </label>

            <label class="desing__colors" for="pantone-1">
                <input class="desing__radio" type="radio" id="pantone-3" name="colors">
                <div class="desing__box mix1"></div>
                <div class="desing__box mix2"></div>
                <div class="desing__box mix3"></div>
            </label>
        </div>
    
    </div>

    
</section> 
    
