<section class="stuffed">
  <form action="/signup" method="post">
    <fieldset class="stuffed__cont-stuffed">
      <legend class="stuffed__div-key">
        <i class="fa-regular fa-keyboard stuffed__icon-key"></i>
        <h1 class="stuffed__text-key">Rellena</h1>
        <i
          class="fa-solid fa-chevron-down stuffed__icon-down rotate-stuffed js_down-stuffed"
        ></i>
      </legend>

      <div class="stuffed__container-stuffed stuffed-hidden js_cont-stuffed">
        <label for="name">Nombre completo</label>
        <input type="text" name="name" id="name" placeholder="Ej: Sally Jill" />
        <label for="Position">Puesto</label>
        <input
          type="text"
          name="Position"
          id="Position"
          placeholder="Ej: Front-end unicorn"
        />
        <h1 class="stuffed__text-add-img">Imagen de perfil</h1>
        <div class="stuffed__div-add-img">
          <button class="stuffed__add-img">Añadir imagen</button>
          <div class="stuffed__check"></div>
        </div>
        <label for="email">Email</label>
        <input
          type="email"
          name="emial"
          id="email"
          placeholder="Ej: sally.hill@gmail.com"
        />
        <label for="tlf">Telefono</label>
        <input type="tel" name="tlf" id="tlf" placeholder="Ej: 555-55-55-55" />
        <label for="Name">Linkedin</label>
        <input
          type="email"
          name="Linkedin"
          id="Linkedin"
          placeholder="Ej: linkedin.com/in/sally-hill"
        />
        <label for="Name">Github</label>
        <input
          type="email"
          name="Github"
          id="Github"
          placeholder="Ej: @sally-hill"
        />
      </div>
    </fieldset>
  </form>
</section>
