<main class="landing">
    <img class="landing__img" src="./images/logo-awesome-profile-cards.svg" alt="Logo Awesome Profile Cards"
        title="Logo Awesome Profile Cards">
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <p class="landing__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div class="functions">
        <div class="funtion__item">
            <img src="" alt="" class="function__img">
            <p class="function__text">Diseña</p>
        </div>
        <div class="funtion__item">
            <img src="" alt="" class="function__img">
            <p class="function__text">Rellena</p>
        </div>
        <div class="funtion__item">
            <img src="" alt="" class="function__img">
            <p class="function__text">Comparte</p>
        </div>
        <a class="landing__button" href="../create.html">COMENZAR</a>
    </div>
</main>