<main class="landing">
    <div class="landing__main">
        <img class="landing__img" src="./images/logo-awesome-profile-cards.svg" alt="Logo Awesome Profile Cards"
            title="Logo Awesome Profile Cards">
        <h1 class="landing__title">Crea tu tarjeta de visita</h1>
        <p class="landing__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        <div class="landing__functions">
            <div class="function__item">
                <i class="fa-regular fa-2x fa-object-ungroup function__img"></i>
                <p class="function__text">Diseña</p>
            </div>
            <div class="function__item">
                <i class="fa-regular fa-2x fa-keyboard function__img"></i>
                <p class="function__text">Rellena</p>
            </div>
            <div class="function__item">
                <i class="fa-solid fa-share-nodes fa-2x function__img"></i>
                <p class="function__text">Comparte</p>
            </div>
        </div>
    </div>
    <a class="landing__button" href="../create.html">COMENZAR</a>
</main>