<section class="preview ">
  <button class="preview__reset js-preview-reset">
    <i class="fa-regular fa-trash-can"></i>Reset
  </button>
  <article class="card js-card js__previewCard">
    <div class="card__header js-card-border">
      <h3 class="card__name js-card-name">Nombre Apellido</h3>
      <p class="card__job js-card-job">Front-end alien</p>
    </div>
    <div class="card__image js-card-image js__profile-image" style="background-image: url(./images/portrait.jpg)">
    </div>
    <ul class="card__links">
      <li class="card__item js-card-item">
        <a href="" class="card__link js-card-mobile">
          <i class="card__icon fa-solid fa-mobile-screen-button js-card-icon"></i>
        </a>
      </li>
      <li class="card__item js-card-item">
        <a href="" class="card__link js-card-email">
          <i class="card__icon fa-regular fa-envelope js-card-icon"></i>
        </a>
      </li>
      <li class="card__item js-card-item">
        <a href="" target="_blank" class="card__link js-card-linkedin">
          <i class="card__icon fa-brands fa-linkedin-in js-card-icon"></i>
        </a>
      </li>
      <li class="card__item js-card-item">
        <a href="" target="_blank" class="card__link js-card-github">
          <i class="card__icon fa-brands fa-github-alt js-card-icon"></i>
        </a>
      </li>
    </ul>
  </article>
</section>