<section class="preview">
    <button class="">Reset</button>
    <div class="card">
        <div class="card__header">
          <h3 class="card__name">Nombre Apellido</h3>
          <p class="card__job">Front-end developer</p>
        </div>
        <div class="card__image"></div>
        <ul class="card__links">
            <li class="card__link">Mobile</li>
            <li class="card__link">Email</li>
            <li class="card__link">Linkedin</li>
            <li class="card__link">Github</li>
        </ul>
    </div>
</section>