<form>
    <fieldset class="share">

        <div class="header-share js_sheader">

            <legend class="header-share__title">
                <i class="fa-solid fa-share-nodes fa-2x header-share__icon"></i>
                <h1 class="header-share__text1">COMPARTE</h1>
            </legend>

            <i class="fa-solid fa-chevron-down header-share__down js_sarrow"></i>
        </div>

        <div class="card-share share__hidden js_card">

            <button class="card-share__button js_button-create">
                <i class="fa-solid fa-address-card card-share__create"></i>
                <h3 class="card-share__title">CREAR TARJETA</h3>
            </button>
        </div>

        <section class="twitter-share share__hidden js_twitter js_shareResponse">
        
            <p class="twitter-share__text1">La tarjeta ha sido creada:</p>

            <a href=" https://awesome-profile-card.com?id=A456DF0001" class="twitter-share__link js_shareLink">
                https://awesome-profile-card.com?id=A456DF0001
            </a>

            <a  href=“https://twitter.com/” class="twitter-share__botton">

                <i class="fa-brands fa-twitter twitter-share__logo"></i>

                <h3 class="twitter-share__textlogo">Compartir en twitter</h3>
            </a> 
            
        </section>
        <section class="js_shareError share__hidden share__error">

        </section>
        
    </fieldset>
</form>