<section class="share">

    <div class="header-share js_sheader">

        <div class="header-share__title">
            <i class="fa-solid fa-share-nodes fa-2x header-share__icon"></i>
            <h1 class="header-share__text1">COMPARTE</h1>
        </div>

        <i class="fa-solid fa-chevron-down header-share__down js_sarrow"></i>
    </div>

    <div class="share__card share__hidden js_card">

        <button class="share__button js_button-create">
            <i class="fa-solid fa-address-card share__create"></i>
            <h3 class="share__h3">CREAR TARJETA</h3>
        </button>
    </div>

    <div class="share__twitter share__hidden js_twitter">

        <p class="share__p">La tarjeta ha sido creada:</p>

        <a href=" https://awesome-profile-card.com?id=A456DF0001" class="share__a">
            https://awesome-profile-card.com?id=A456DF0001</a>

        <button class="share__button-twitter">
            <i class="fa-brands fa-twitter share__logo-twitter"></i>

            <h3 class="share__h2">Compartir en twitter</h3>
        </button>
    </div>




</section>